<html>
<head><title>Playing</title></head>
<body>
    <h1>What reminder do you want to create?</h1>
    <form method="post" action="#" id="reminderform">
        <label>Reminder text</label>
        <input type="text" id="reminder"></input>
        <input type="submit" value="Submit"></input>
    </form>

    <script type="text/javascript"
                src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url + "/dd");

            $("#reminderform").submit(function(event) {
                socket.emit('reminder', {'reminder': $('#reminder').val()});
                $('#reminder').val('');
                return false;
            });

        });
    </script>
</body>
</html>