<html>
<head><title>Playing</title></head>
<body>
    <h1>Your reminders</h1>
    <div id="reminder-list"></div>

    <script type="text/javascript"
                src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url + "/dd");

            socket.on('reminder', function(msg) {
                // msg.reminder.forEach((element) => {
                //     $("#reminder-list").append('<h3>' + element + '</h3>');
                // });
                $("#reminder-list").append('<h3>' + msg.reminder + '</h3>');
            });

        });
    </script>
</body>
</html>